/* Font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
/* Common Styles */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-sections {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --base-font-color: #3A3A3A;
  --primary-btn: #24A19C;
  --hover-color: #24A19C;
}

span {
  color: #24A19C;
  text-transform: capitalize;
}

h2 {
  color: var(--base-font-color);
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}

h3 {
  color: var(--base-font-color);
  font-size: 28px;
  line-height: 70px;
  font-weight: 600;
  text-transform: capitalize;
}

h4 {
  color: var(--base-font-color);
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

p {
  color: var(--base-font-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.primary-btn {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: var(--primary-btn);
  font-size: 16px ;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 18px;
  padding: 10px 24px;
  border-radius: 56px;
  transition: 0.5s ease-in-out;
}

.primary-btn:hover {
  transform: translateY(10px);
}

.primary-btn i {
  margin-left: 10px;
}

/* Header Styles */

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
}

.header_menu_logo a {
  color: var(--base-font-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
} 

.header-menu li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.header-menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--base-font-color);
  font-size: 16px;
  padding: 10px;
  text-transform: capitalize;
  transition: 0.3s;
}

.header-menu li:hover a {
  color: var(--hover-color);
}

/* Menu Toggler Styles */

#header_menu_toggler {
  display: none;
}

.header_menu_toggler_icon {
  color: var(--primary-btn);
  cursor: pointer;
  display: none;
}

/* Banner Styles */

.banner {
  margin-top: 55px;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  align-items: center;
}

.banner-left p {
  margin-top: 16px;
  padding-right: 15px;
}

.banner-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-right img {
	width: 82%;
  border: 5px solid rgba(18, 18, 18, 0.048);
  border-radius: 50%;
}

/* Partners Styles */

.partners {
  margin: 55px 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-width: 2px 0;
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.39) 0%, rgba(165, 165, 165, 0.192) 50%, rgba(255, 255, 255, 0.39) 100%) 1;
}

.partners-logo img {
  width: 80%;
  cursor: pointer;
}

/* Tools Collections Styles */

.tools-collection {
  padding: 55px 0;
}
.tools-collection h3 {
  text-align: center;
}

.tool-cards {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.tool_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}

.tool_card img {
  width: 100%;
}

.tool_card h4 {
  margin: 16px 0;
}

.tool_card p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.tool_ratings {
  margin-top: 16px;
}

.tool_ratings .fas {
  color: #FB8200;
  font-size: 10px;
}

.tool_ratings ul {
  display: inline-block;
  margin-right: 4px;
}

.tool_ratings li {
  list-style: none;
  display: inline-block;
}

.tools_extra_infos p, .tool_ratings span {
  color: #787885;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.tools-btn {
  text-align: right;
}

/* Get in Touch Styles */

.contact h3 {
  text-align: center;
}

.contact h4 {
  margin-bottom: 30px;
}

.contact-area {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 55px;
  justify-content: space-between;
}

.contact-map iframe{
  width: 100%;
  height: 435px;
  border: 0;
  border-radius: 5px;
}

.contact_form input, textarea {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid #24A19C;
  border-radius: 5px;
  outline: none;
  padding: 10px;
}

.contact_form input::placeholder {
  color: var(--base-font-color);
  font-size: 16px;
}

.contact_form textarea, textarea::placeholder {
  resize: none;
  color: var(--base-font-color);
  font-size: 16px;
}

.contact_form input.primary-btn {
  width: 30%;
  border-radius: 56px;
  cursor: pointer;
}


