/* Font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
/* Common Styles */

main, .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --base-font-color: #3A3A3A;
  --primary-btn: #24A19C;
  --hover-color: #24A19C;
}

span {
  color: #24A19C;
  text-transform: capitalize;
}

h2 {
  color: var(--base-font-color);
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}

p {
  color: var(--base-font-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.primary-btn {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: var(--primary-btn);
  font-size: 16px ;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 18px;
  padding: 10px 24px;
  border-radius: 56px;
  transition: 0.5s ease-in-out;
}

.primary-btn:hover {
  transform: translateY(10px);
}

.primary-btn i {
  margin-left: 10px;
}

/* Header Styles */

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 87px;
}

.header_menu_logo a {
  color: var(--base-font-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
} 

.header-menu li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.header-menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--base-font-color);
  font-size: 16px;
  padding: 10px;
  text-transform: capitalize;
  transition: 0.3s;
}

.header-menu li:hover a {
  color: var(--hover-color);
}

/* Menu Toggler Styles */

#header_menu_toggler {
  display: none;
}

.header_menu_toggler_icon {
  color: var(--primary-btn);
  cursor: pointer;
  display: none;
}

/* Banner Styles */

.banner {
  margin-top: 55px;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  align-items: center;
}

.banner-left p {
  margin-top: 16px;
  padding-right: 15px;
}

.banner-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-right img {
	width: 82%;
  border: 6px solid rgba(18, 18, 18, 0.048);
  border-radius: 50%;
}

/* Partners Styles */

.partners {
  margin-top: 55px;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  border-width: 2px 0;
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.39) 0%, rgba(165, 165, 165, 0.192) 50%, rgba(255, 255, 255, 0.39) 100%) 1;
}

.partners-logo img {
  width: 80%;
}

